@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Tintin Title';
    src: url('/assets/fonts/Tintin Majuscules Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Tintin Text';
    src: url('/assets/fonts/Remi Script.ttf') format('truetype')
}

$body-font-family: 'Courier Prime', monospace;
$heading-font-family: 'Carter One', system-ui;

// Apply custom fonts
input, body {
    font-family: $body-font-family;
}

.site-title, nav, h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}